*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#container{
    width: 100%;
    height: 100vh;
    background-color: #eaecef;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    width: 80%;
    height: 70vh;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px #cccccc;
}
#inputBox{
    width: 80%;
    height: 7vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#addText{
    width: 85%;
    height: 5vh;
    border-radius: 5px;
    border: none;
    background-color: #eaecef;
    padding-left: 10px;
}
#addBtn, #updateBtn{
    width: 12%;
    height: 5vh;
    background-color: #2E5077;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}
.hide{
    display: none;
}
#box{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#todo, #doing, #done{
    width: 32%;
    height: 50vh;
    border: 10px solid #eaecef;
    background-color: #eaecef;
    border-radius: 10px;
    padding-bottom: 10px;
    overflow: auto;
}
h3{
    margin-top: 10px;
    text-align: center;
}

.task{
    width: 95%;
    height: 10vh;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.para{
    width: 70%;
}
.edit{
    width: 10%;
    color: white;
    background-color: #2E5077;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dlt{
    width: 10%;
    color: white;
    background-color: rgb(191, 0, 0);
    border: none;
    border-radius: 5px;
}



@media only screen and (max-width: 576px){
    #main{
        width: 90%;
        height: auto;
    }
    #inputBox{
        width: 85%;
    }
    #addText{
        width: 75%;
    }
    #addBtn, #updateBtn{
        width: 20%;
    }
    #box{
        justify-content: center;
    }
    #todo, #doing, #done{
        width: 85%;
        height: 20vh;
        margin: auto;
        margin-bottom: 20px;
    }
    .edit{
        width: 12%;
    }
    .dlt{
        width: 12%;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px){
    #main{
        width: 90%;
        height: auto;
    }
    #inputBox{
        width: 85%;
    }
    #addText{
        width: 75%;
    }
    #addBtn, #updateBtn{
        width: 20%;
    }
    #box{
        justify-content: center;
    }
    #todo, #doing, #done{
        width: 85%;
        height: 20vh;
        margin: auto;
        margin-bottom: 20px;
    }
}
@media only screen and (min-width: 767px) and (max-width: 991px){
    #main{
        width: 90%;
        height: auto;
    }
    #inputBox{
        width: 85%;
    }
    #addText{
        width: 75%;
    }
    #addBtn, #updateBtn{
        width: 20%;
    }
    #box{
        justify-content: center;
    }
    #todo, #doing, #done{
        width: 85%;
        height: 20vh;
        margin: auto;
        margin-bottom: 20px;
    }
    .edit{
        width: 8%;
    }
    .dlt{
        width: 8%;
    }
}